<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ProductCrudWebApp</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>login</servlet-name>
  	<servlet-class>com.demo.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/loginValidate</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>register</servlet-name>
  	<servlet-class>com.demo.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>register</servlet-name>
  	<url-pattern>/registerUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>showProduct</servlet-name>
  	<servlet-class>com.demo.servlets.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>showProduct</servlet-name>
  	<url-pattern>/showProducts</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>delProducts</servlet-name>
  	<servlet-class>com.demo.servlets.DelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>delProducts</servlet-name>
  	<url-pattern>/delProducts</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>editProducts</servlet-name>
  	<servlet-class>com.demo.servlets.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>editProducts</servlet-name>
  	<url-pattern>/editProducts</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>updateProducts</servlet-name>
  	<servlet-class>com.demo.servlets.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>updateProducts</servlet-name>
  	<url-pattern>/updateProducts</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>forgotPassword</servlet-name>
  	<servlet-class>com.demo.servlets.ForgotPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>forgotPassword</servlet-name>
  	<url-pattern>/forgotPass</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>checkNewPassword</servlet-name>
  	<servlet-class>com.demo.servlets.CheckNewPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>checkNewPassword</servlet-name>
  	<url-pattern>/checkNewPass</url-pattern>
  </servlet-mapping>
</web-app>